Commenting in CSS is the same for html*/
/*CSS Selector*/
	/*you can enter multiple properties inside the selector*/

/*CSS Styling Specificity
inline -- internal -- external
	inline styling has the highest ppriority over internal and external styling.
	External styling has the lowest  priority over inline and internal styling*/

/*!important-property used in CSS to override the CSS priority rule. It makes the proerty to which it is attached a proprity over any other conflicting styles (regardless if it's internal or inline)*/

	/*if conflicting styles are trying to modify the same element with the use of !important, the CSS priority rule will take effect*/
/*h1{
	color: red !important;
	background-color: pink;
}*/

	/*
	* - universal selector; it is used to target all elements inside the html tag
	font family - changes the style of the font
	monospace-the family from which the browser will try to seach for a font once Courier New or the chosen font is not available
	*/
*{
	font-family:"Courier New", monospace;
	font-size:  20px;
}

/*id selector - commonly used to provide unique styling for an element*/
/*#idName*/
/*letter-spacing - used to change the spaces in between the characters*/

#zuitt-motto{
	letter-spacing: 5px;
} 


/*CSS Specificity
	in terms of the selectors, id has the highest priority over other selectors and universal selector is the lowest*/

h3{
	letter-spacing: 25px;
}

/*CLASS SELECTOR - use to style the li in the index*/
/*text-transform-used to change the */
.offering-item{
	text-transform:uppercase;
}

/*attribute selector
	will only work if the element has the exact attribute that is specified in the selector; case sensitive

	SYNTAX:  :
		tag[attribute]	
*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*combination selectors*/
/*these selectors require two selectors but the target is the latter/second selector*/
	/*kung isno yung pinakahuli, siya ang tinatarget ni selector natin*/

/*Adjacent Sibling Selector*/
	/*selector that is used to target the next selector that is next to the first selector*/
	/*SYNTAX
	first selector + second selector
so yung second selector ang tinatarget
	*/


h3 + img {
	height:  300px;
	width: 300px;
	border-radius: 150px;
}

/*in combination selectors, we are not restricted to use uniform/one tag for both. The first selector can be a class/id/tag while the second selector can be of different selector*/

/*#zuitt-motto + img {
	height:  300px;
	width: 300px;
	border-radius: 150px;
}

/*descendant selector*/
/*used to select elements (second selector that are inside other elements (first selector)*/
	/*si li ay anak ni ol, so sa kanya ma-aapply itong elements*/

#bootcamp-learning-list li{
	color: #075966;
}

/*general sibling selector*/
/*used to target the preceding siblings (seconnd selector) of the first selector*/

h2 ~ a{
	text-decoration: none;
}

/*child selector*/

body>section>form>label{color: rgb(0, 0, 128);}
/*color also accepts rgb as its value. This value refers to red, green, blue. The numbers inside the parenthesis would range from 0 to 255*/

/*instead of using this long form, you can use child selector to select the child of the first selector or the selector that comes before it. In this example above, pwedeng form>label na lang*/

body{background-color: skyblue;}
html{scroll-behavior: smooth;}

/*NAVIGATION*/
nav{background-color: white;}

a:hover{background-color: #b3d6de;}
/*pseudo element/selector*/
/*this a: hover will change the lement style once the cursor is hovered over it, so nagiging color nitong nakaset sa hover*/

div{display: inline-block;}

/*#landing section*/
section{
	/*vh-viewport height*/
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
/*rem-root element measurement-it multiplies the value attached to it to the root element. The root element is the parent of all element which is the html tag. if di ka nagset, the default value is 16px*/
}

ol{list-style-type: none;}
/*list-style-type - changes the bullet/ordering style of the elements (disc, square, circle)*/

/*register section*/
/*position - property that changes the position of element based on a certain criteria
left property - used along the position property to add a certain measurement to the left of the element
right, top, bottom - ito pa yung tatlong position property*/
	/*directions (l,r,t,b) - recommended lang ay 2 of the directions. either vertical (top and bottom) or horizontal (left and right) per selector
	-% as the value would be based on the parent element. In this case, yung parent element ni form ay si section
	*/

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position:  relative;
	left: 37.25%;
}
/*viewport width - same ng vh width lang this time*/

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}