div p{
	color:  orange;
}

*{
	font-family:"Arial", sans-serif;
	font-size:  20px;
}

h1{
	font-size: 50px;
}

/*change text to all uppercase for h2 using an id selector, so I assigned id things-to-learn for h2*/
#things-to-learn{
	text-transform:uppercase;
}

#languages-to-be-learned li{
	background-color: lightblue;
}

#tools-to-be-used li{
border-style: solid;
border-color: green;
border-width: 2px;
}

/*change list style type using an adjacent sibling selector*/
	/*i used adjacent but one of the bullets won't get deleted*/
	
.other-things-to-be-learned + li{
	list-style-type: none;
}

/*change dimensions of the image using a descendant selector*/
	/*but i cannot make it work so I used adjacent sibling instead*/
		/*h3 img{
			height:  200px;
			width: 200px;
			border-radius: 100px;
		}*/

h3 + img {
	height:  100px;
	width: 100px;
	border-radius: 100px;
}


/*Change the alignment of the last paragraph using a generic sibling selector*/
h3 ~ p{
	text-align: center;
	color: black;
}

/*Change letter spacing using child selector*/

ul>li{
	letter-spacing: 10px;
}



